@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: #686868;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

html,
body {
  scroll-behavior: smooth;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(27, 27, 27);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}




/* ------------------start of header -------------------*/
header {
  z-index: 2;
  padding-left: 1%;
  font-size: 16px;
  height: 74px;
  position: fixed;
  transition: 0.6s ease-in-out;
  top: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "nt mn sb . . . ";
  background-color: rgba(5, 5, 5, 0.116);
  width: 100%;
  margin-bottom: 0px;
}

.netflixLogo {
  margin: auto 0;
  padding-top: 0px;
}



#logo {
  font-size: 1.75em;
  color: #09e5c0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
}


.main-nav {
  grid-area: mn;
  margin: auto 0;
  padding: 0 30px 0 20px;
}

.main-nav a {
  text-decoration: none;
  margin: 5px;
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  display: flex;
  margin: auto 0;
  grid-area: sb;
  padding: 0 40px;
}

.sub-nav .icon {
  font-size: 26px;
}

.sub-nav a {
  text-decoration: none;
  margin: 10px;
  text-transform: uppercase;
}

.sub-nav a:hover {
  color: #09e5c0;
}


.search {
  background-color: transparent;
  border: 2px solid #09e5c0;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 10px 0.5rem 40px;
}

.search-icon {
  position: absolute;
}

.search::placeholder {
  color: #ffffff;
}

form {
  padding-right: 20px;
}

.search:focus {
  background-color: #4606ad94;
  outline: none;
}



/*---------------------- hero and video section----------------------------- */

  .viewport {
    overflow: hidden;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .viewport:hover .image-bg  {
    opacity: 0;
  }

  .viewport:hover video {
    opacity: 1;
  }
  .viewport:hover .hidden-text {
    opacity: 1;
  }

  .image-bg {
    position: absolute;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    height: 100%;
  }

  .fade {
    transition: opacity 1.5s ease-in-out;
  }

  video {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }

  .logo-vis{
position: absolute;
    margin-left: 300px;
    width: 60%;
    top: 25px;
  }

.hidden-text{
  opacity: 0;
  position: absolute;
  bottom: 8rem;
  width:40%;
  color: white;
  font-weight: 500;
  letter-spacing: 1.4px;
  left: 30px;
  z-index: 3;
}

.intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
}

.hero-i{
  background:white;
  border: white;
  margin-right: 20px;
}

.hero-icons .hero-i {
  margin-top: 10px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  padding:10px;
}
.hero-icons .hero-i .fas{
  color:#09e5c0;
  margin: auto;
}
.hero-icons .hero-i .gap{
margin-right: 8px;
}
.hero-i.plus{
  opacity: 0.8;
}
.hero-i.dot{
  color: black;
  border-radius: 45px;
  opacity: 0.8;
}
.hero-icons .hero-i:hover {
opacity: 1;
transition: ease-in-out 0.4s;
color: #09e5c0;
}

.sticky{
  background-color: black;
  transition: 0.6s ease-in-out;
}
/* -----------------------start fo main section--------------------------- */
main {
  padding-top: 2rem;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.main-title{
  text-align: center;
  line-height: 1.1;
  letter-spacing: 2px;
}

.movie {
  background: rgb(212,206,206);
background: linear-gradient(180deg, rgba(212,206,206,0.9345939059217437) 0%, rgba(0,0,0,0.937395026369923) 63%, rgba(40,42,42,1) 100%);
  border-radius: 10px;
  box-shadow:  -7px -7px 14px #121212, 
  7px 7px 14px #222222;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 240px;
}

.movie img {
  width: 100%;
}


.movie-info {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: rgb(0, 255, 64);
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  background: rgb(212,206,206);
background: linear-gradient(180deg, rgba(212,206,206,0.3743698162858894) 0%, rgba(0,0,0,0.8001401244091386) 14%, rgba(0,0,0,1) 100%);
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  color: rgb(255, 255, 255);
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition:  transform 0.8s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}




/* footer section */
.link {

  padding: 100px 200px 10px 200px;
}

.sub-links ul {
  color: grey;
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: grey;
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos {
  color: grey;
}

.logos a {
  color: grey;
  padding-right: 20px;
  padding-bottom: 20px;
}


footer p {
  color: grey;
}

/* FOOTER */

.service-code {
  background: 0 0;
  color: grey;
  border: solid 1px grey;
}

.sub-service .service-code {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 18px;
  padding: .5em;
}