@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark:   #686868;
}
* {
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

html, body {
    width: 100vw;
    min-height: 100vh;
    background-color: black; 
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
  }


  .wrapper {
    margin: 0;
    padding: 0;
  }
/* ------------------start of header -------------------*/
 header {
     z-index: 2;
     padding-left: 2%;
    font-size: 16px;
    height: 74px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
     "nt mn sb . . . "; 
    background-color: rgba(5, 5, 5, 0.116);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
      margin: auto 0;
    padding-top: 0px;  
  }
  

  
  #logo {
      font-size: 1.77em;
    color: #09e5c0;  
    text-transform: uppercase;
    font-weight: 700;
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    margin: auto 0;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
      display: flex;
    margin: auto 0;
    grid-area: sb;
    padding: 0 40px;
  }
  .sub-nav .icon{
    font-size: 26px;
  }
  .sub-nav a {
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
  }
  
  .sub-nav a:hover {
    color: #09e5c0;
  } 
   
  
.search {
    background-color: transparent;
    border: 2px solid #09e5c0;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 10px 0.5rem 40px;
}

.search-icon{
  position: absolute;
}
.search::placeholder {
    color: #7378c5;
}
form{
padding-right: 20px;
}
.search:focus {
    background-color: #22254b;
    outline: none;
}



/*---------------------- hero and video section----------------------------- */


.hero {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #333;
  background: rgba(0, 0, 0, 0.25);*/
  

  color: white;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  }
  
  .video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  }
  
  .intro {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  max-width: 960px;
  }
/* -----------------------start fo main section--------------------------- */
main {
  padding-top: 12rem;
    display: flex;
    flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 230px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}








/* footer section */
.link {
 
    padding: 100px 200px 10px 200px;
  }
  
  .sub-links ul {
    color: grey;
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
     color: grey;
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  .logos{
    color: grey;
  }
  .logos a{
    color: grey;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  

  footer p{
    color: grey;
  }
  
  /* FOOTER */
  
  .service-code {
    background: 0 0;
    color: grey;
    border: solid 1px grey;
  }

  .sub-service .service-code{
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 18px;
    padding: .5em;
  }